.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spaced {
  margin: 10px;
}

.canvas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
